
@{
    ViewBag.Title = "Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LỖI THANH TOÁN</h2>
<hr>
<div class="alert alert-danger">
    <strong>Lỗi Thanh Toán!!! </strong> Xin Quý Khách Vui Lòng Xem Xét Lại Đơn Hàng, Hoặc Liên Hệ Cho Chúng Tôi Qua SDT: 0907533838
</div>
