
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-success">
    <strong>Gửi Đơn Hàng Thành Công!</strong> Chúc mừng quý khác đã đặt hàng thành công !!!
</div>

